
/*
@font-face {
  font-family: "Open Sans";
  src: url("FontOpen_SansstaticOpenSans_Condensed-Bold.ttf");
}
@font-face {
  font-family: "Lora";
  src: url("FontLorastaticLora-Bold.ttf");
}

*/



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 1em;

}

.menu {
  background-color: #c71010;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  display: flex;
  width: 100%;
}
.menu div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.blog {
  width: 26%;
  background-color: #393E46;
}

nav a {
  width: auto;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
  margin: 0 0.5em;
  
}

nav img {
  width: 10%;
  display: flex;
  justify-content: center;
}

section {
  padding: 2em;
}

.media {
  padding: 10%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lora;
}

p {
  font-family: Open Sans;
}

footer {
  background-color: #000000;
  padding: 1em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  nav div {
    flex-direction: column;
  }
  .blog, .media {
    width: 100%;
    flex-direction: column;
  }
  .logo {
    width: 60%;
    height: 100%;
  }
  .recherche {
    width: 100%;
  }
  .trier {
    width: 65%;
    margin-top: 20px;
  }
  .com {
    width: 10%;
    height: 10%;
    align-self: center;
  }
  article {
    width: 80%;
    margin: 5% auto;
  }
  ul img {
    max-width: 25%;
  }
}


